/INSTALL
/README
*.o
*.lo
*.la
*.a
.deps
.libs
*.exe
*~
Makefile
Makefile.in
/config.status
/configure
/API/version
/Test/po/Makevars.template
/Test/po/POTFILES
/Utilities/po/Makevars.template
/Utilities/po/POTFILES
/Utilities/po/en@boldquot.gmo
/Utilities/po/en@quot.gmo
/Utilities/po/fr_CA.gmo
/Utilities/po/stamp-po
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/po/Makevars.template
/po/POTFILES
/po/en@boldquot.gmo
/po/en@boldquot.insert-header
/po/en@boldquot.po
/po/en@quot.gmo
/po/en@quot.insert-header
/po/en@quot.po
/po/fr_CA.gmo
/po/stamp-po
/stamp-h1
/test-driver
/API/Headers/bufr_api.h
